<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title>Vue App</title>
    <style>
body {
  display: flex;
  justify-content: center;
  background: #7E8D85;
  font-family: 'Roboto Slab', serif;
  line-height: 1.4;
}

#app {
  margin-top: 20px;
  width: 300px;
  padding: 0 40px 40px;
  background: #2F242C;
  border-radius: 5px;
  color: #B3BFB8;
}

h1 {
  color: #F0F7F4;
}

.lighten {
  color: white;
}

    </style>
  </head>

  <body>
    <div id="app">

      <h1>{{info.section}}</h1>

      <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
      </section>

  <section v-else>
    <div v-if="loading">Loading...</div>
    <div v-else >
      
      <img v-bind:src="info.img" />
        <div>
          {{ info.authors }}:
          <span class="lighten">{{ info.title }}</span>
          </span>
        </div>

        <div>
          Price:
          <span class="lighten">{{ info.price }}</span>
        </div>

        <div>
          Format:
          <span class="lighten">{{ info.format }}</span>
        </div>

        <div>
          Description:
          <span class="lighten">
            {{ info.desc }}
          </span>
        </div>
    </div>
  </section>


    <script>
      new Vue({
        el: '#app',
        data () {
          return {
            info: {},
            loading: true,
            errored: false
          }
        },
        mounted () {
          axios.get('https://api.masterbranch.io/b/bna')
               .then(response => (this.info = response.data.body.data[0].data[0]))
               .catch(error => {
                  console.log(error)
                  this.errored = true
                })
                .finally(() => this.loading = false)

        }
      })
    </script>
  </body> 
</html>
